*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: black;
}

.img{
    width: 30%;
    border-radius: 1%;
    margin-top: 10%;
    margin-left: 10%;
}


/*prompt to art*/
.pic button{
    position: absolute;
    width: 180px;
    height: 45px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    margin-left: 5%;
    margin-top: 25%;
    font-size: 15px;
}

/*heading and paragraph*/
.heading{
    color: white;
    font-family:'Poppins', sans-serif;
    margin-top: -29%;
    margin-left: 60%;
    word-wrap: break-word;
}
.heading button{
    width: 180px;
    height: 45px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    font-size: 15px;
}



.container .input{
    border: 0;
	outline: none;
	color: #8b7d77;
}
.search_wrap{
    position: absolute;
    margin-top: 35%;
    margin-left:11%;
}
.search_wrap .search_box{
    position: relative;
	width: 350px;
	height: 30px;
}
.search_wrap .search_box .input{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
    border-radius: 15px;
	font-size: 18px;
    opacity: 0.5;
}
.search_wrap .search_box .btn{
	position: absolute;
    width: 10px;
    height: 10px;
	background: #7690da;
	cursor: pointer;
}

.search_wrap.search_wrap_1 .search_box .btn{
	width: 120px;
	height: 50px;
	right: -40px;
	border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

::placeholder {
    color: black;
    font-weight: 800;
  }